@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-choose-mode
{
    text-align: center;
    width: 85vw;
    /* background-color: red; */
    margin-left:2%;
    margin-top:2%;
    height: 80vh;
    z-index:2;
    animation: fadeInUp 0.8s ease-in-out;
    position: relative;
}

.content-choose-mode h1
{
    color:white;
    margin-bottom: -2%;
}

.modes
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}


.modes > div 
{
    position:relative;
    margin-top:10%;
    flex: 1;
    height: 440px;
    /* background-color: #ddd; */
    border: 3px solid #ddddddab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-top: 7%;
}

.remote-mode 
{
    background: url(../assests/remote.png) no-repeat center center;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tournament-mode
{
    background: url(../assests/tournament.png) no-repeat center center;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.local-mode
{
    background: url(../assests/local.png) no-repeat center center;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.local-mode:hover , .remote-mode:hover , .tournament-mode:hover
{
    transform: scale(1.05);

}

.go-remote
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #333533e0;
    border-left: 3px solid #ddddddab;
    border-right: 3px solid #ddddddab;
    font-size: 30px;
    padding-left:40%;
    padding-right: 40%;
    box-sizing: border-box;
    height: 40%;
    margin-top:55%;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    font-family: Righteous;
}
.go-remote p
{
    margin-top: -5%;
}

.go-local
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #333533e0;
    border-left: 1px solid #ddddddab;
    border-right: 1px solid #ddddddab;
    padding-left:45.5%;
    padding-right: 40%;
    box-sizing: border-box;
    height: 40%;
    margin-top:55%;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    font-family: Righteous;
    font-size: 30px;
}

.go-local p
{
    margin-top: -5%;
    margin-right: 50%;
}

.go-tournament
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #333533e0;
    border-left: 1px solid #ddddddab;
    border-right: 1px solid #ddddddab;
    padding-left:28.5%;
    padding-right: 40%;
    box-sizing: border-box;
    height: 40%;
    margin-top:55%;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    font-family: Righteous;
    font-size: 30px;
}

.go-tournament p
{
    margin-left: 25%;
    margin-top: -5%;
}

  /* Losange */
.modes > div::before 
{
    content: '';
    position: absolute;
    top: 94.5%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 50px;
    height: 50px;
    background-color: #8d2b2b;
    border: 3px solid #fff;
    z-index: 2;
}

.modes > div .icon 
{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    z-index: 3;
}

.icon img 
{
    width: 40px;
    height: 40px;
}


.remote-mode img
{
    width: 30px;
    height: 30px;
}