

/* .play_btn {
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
    border: none;
} */

/* .play_btn:hover {
    background-color: black;
    color: white;
    border-top: 2px solid rgb(0, 0, 0);
} */

