/* * {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(139.98deg, #003E38 10.69%, #003E38 20.26%, #014E46 30.76%, #00766A 40.02%, rgba(0, 78, 70, 0.941257) 54.12%, rgba(3, 81, 73, 0.952228) 55.88%, rgba(0, 62, 56, 0.983651) 78.08%, #002924 83.04%);

}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px  solid  #00766A;
    border-radius: 10px;
    width: 70vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.3);
}

#local , #remote, #tournament {
    width: 20vw;
    height: 40px;
    border : 0;
    border-radius: 5px;
    background-color: rgba(2, 51, 0, 0.3);

}

.full{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h1 {
    margin: 1vw;
    font-size: 2vw;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 5vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2vw;
}

#score {
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

#score img {
    width: 4vw;
    height: 4vw;
    margin: 1vw;
    margin-top: 2vw;
    border-radius: 100vw;
}

#score h1 {
    margin: 1vw;
    margin-top: 2vw;
} 

#side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

#sidebar {
    background-color: rgba(255, 255, 255, 0.1);  
    width: 90%;
    height: 80vh;
    border-radius: 2vw;

}

canvas {
    width: 60vw;
    height: 30vw;
    margin: auto;
    border: 4px solid black;
    border-radius: 20px;
}

.circle {
    border-radius: 100vw;
    width: 15vw;
    height: 15vw;
}

.circle img {
    width: 15vw;
    height: 15vw;
    border-radius: 100vw;
}

#waiting {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    flex-direction: column;
    width: 90%;
}
img {
    width: 4vw;
    height: 4vw;
    margin: 1vw;
    border-radius: 100vw;
}

.player-box {
    width: 20vw;
    height: 200px;
    border: 1px rgb(0, 59, 54) solid;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 500px;
}

#first {

   width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#containe_all {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#second {
    width: 100%;
    height: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}


#winner {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #002924 2px solid;
    border-radius: 100px;
}

#winner img {
    width: 25vw;
    height: 25vw;
}

#play-tour {
    width: 20vw;
    height: 40px;
    border : 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

#register_button {
    width: 20vw;
    height: 40px;
    border : 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}