/* BODY */
@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);

    }
    to {
      transform: translateY(0);
    }
  }
  
  .authentication-form {
    animation: slideInFromBottom 1s ease-out; /* Durée et courbe d'animation */
  }

body
{
    font-family: Poppins;
    margin : 0;
    padding : 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, 
        #003E38 1%, 
        #003E38 14%, 
        #014E46 28%, 
        #00766A 41%, 
        #014E46 60%, 
        #035149 62%, 
        #003E38 92%, 
        #003E38 99%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* COLOR OVERLAY */

.color-overlay
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index : 2;
}

.container-authentication
{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1600px;
    height: 70%;
    padding: 10%;
    z-index: 3;
}

/* LEFT RIGHT SECTION */

.left-content , .right-content
{
    width: 20%;
}

.left-content
{
    padding-right: 13.1%;
}

.left-content img 
{
    width: 200%;
    height: auto;
}

.right-content img
{
    width: 150%;
    height: auto;
}

.right-content
{
    padding-right: 13.1%;
    padding-bottom: 1.67%;
}

/* MIDDLE SECTION */

.middle-content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* flex-direction: column; */
    width: 30%;
}

.table-image img 
{
    width: 110%;
    padding-top: 20.83%;
    padding-left: 1.67%;
}

/* RESET-FROM */

.authentication-form
{
    position: absolute;
    width: 80%;
    height: 50%;
    margin-bottom: 3%;
    margin-left: 7%;
    background-color: rgb(255, 255, 255,0.1);
    border-style: solid;
    border-width: 1px;
    border-color:rgba(255, 255, 255, 0.9);
    padding-right: 42%;
    padding-left: 35%;
    padding-top:10%;
    padding-bottom: 10%;
    border-radius: 40px;
    text-align: center;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.authentication-form h1
{
    padding-bottom: 18%;
    color:white;
    font-weight: 600;
}

form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
    margin-top: -5%;
}

form h2
{
    color:white;
    font-size:14px;
    font-weight: 200;
    padding-right: 116%;
    margin-left: 2px;
    margin-top:-2px;
    margin-bottom: 1px;
}

/* INPUT */

form input
{
    width: 120%;
    padding: 3.4%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input:focus
{
    outline: none;
}

form input::placeholder
{
    font-size: 8px;
    color:#BCBEC0;
}

/* BUTTON */

form button
{

    background-color: rgb(0, 0, 0);
    border:none;
    padding:3.5%;
    color:white; 
    width: 80%;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    margin-top:10%;
    transition:all 0.2s ease;
}

form button:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2px);
}

form button:active
{
    transform: scale(0.96);
}

.separator 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin: 7%; */
    margin-top: 5%;
}

.separator span 
{
    width: 25%;
    height: 0.5px;
    background-color: rgb(255, 255, 255);
    margin: 0 10%;
}