body 
{
    font-family: Poppins;
    margin: 0;
    padding:0;
    height: 100vh;
    width: 100vw;
    /* box-sizing: border-box; */
    background: linear-gradient(120deg, 
        #003E38 1%, 
        #003E38 14%, 
        #014E46 28%, 
        #00766A 41%, 
        #014E46 60%, 
        #035149 62%, 
        #003E38 92%, 
        #003E38 99%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.color-overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.section-name
{
    display: flex;
    align-items: center;
    position:absolute;
    font-family: Righteous;
    left:8rem;
    color:white;
    font-size:1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

header
{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding: 1.875%;
    z-index: 15;
}

.header-left
{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5%;
}

.header-left img
{
    width: 1.5vw;
    padding-right: 2.5%;
}

/* PROFILE PIC  */

.prfl
{
    width:3vw;
    border-radius: 50%;
    cursor: pointer;
}

.header-right
{
    position:relative;
    padding-left: 1.5%;
}

.status
{
    position:absolute;
    background-color: rgba(97, 241, 9, 1);
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 50%;
    right:0;
    /* top:-5px; */
    left:80%;
    bottom: 78%;
}

/* SEARCH BOX */

.search-box
{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0.5%;
    margin-bottom: 0.45%;
}

.button-search 
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 6vh;
    height: 6vh;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}

.input-search 
{
    height: 5vh;
    width: 5vh;
    border-style: none;
    padding: 1.5vh;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    outline: none;
    /* border-radius: 50%; */
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    color: #fff;
    padding-right: 6vh; /* Alignement du bouton */
    box-sizing: border-box; /* S'assure que le padding est inclus dans la largeur */
}

.button-search:focus ~ .input-search 
{
    width: 25vw; /* Largeur étendue en mode focus */
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0.15vh solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.button-search img 
{
    width: 70%;
}

.input-search:focus 
{
    width: 28vw; /* Étend la largeur au focus */
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0.15vh solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search::placeholder 
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 100;
}

/* DROWPDOWN PROFILE */

.dropdown-profile
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:105%;
    right:0;
    background-color: rgba(187, 230, 224, 1);
    width:350%;
    height: 380%;
    margin-right: 20%;
    padding: 8%;
    border-radius: 25px;
    color:rgba(70, 70, 103, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info
{
    display: flex;
    align-items: center;
}

.user-info h2
{
    font-weight: 500;
    white-space: nowrap;
    font-size: 15px;
}

.user-info img
{
    width: 15%;
    border-radius: 50%;
    margin-right: 8%;
    margin-left: 5%;
}

/* LINK DORPDOWN PROFILE  */

.sub-menu-link img
{
    width: 10%;
}

.sub-menu-link
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-top:-6%;
    margin-bottom: 1%;
    margin-left:8%;
    cursor: pointer;
}

.sub-menu-link p
{
    margin-left: 10%;
    font-weight: 500;
    font-size: 16px;
    color:rgb(79, 74, 74);
}

.sub-menu-link:hover p 
{
    font-weight: 600;
}

#dropdown 
{
    display: none;
}

/* Lorsque le dropdown est actif */
#dropdown.active 
{
    display: flex;
}

/* SEPARATOR */

.separator 
{
    display: flex;
    align-items: center;
    width: 97%;
    margin-top:2%;
    margin-bottom: 4%;
    /* margin: 7%; */
}

.separator span 
{
    width: 100%;
    height: 1px;
    /* background:rgb(0, 0, 0); */
    margin: 0 10%;
}

/* NOTIFICATIONS DROPDOWN */

.dropdown-notifications
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:76%;
    right:-14%;
    background-color: rgba(187, 230, 224, 1);
    width:18%;
    height: 150%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    border-radius: 25px;
    color:rgba(70, 70, 103, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* LINK DROPDOWN NOTF */

.sub-menu-link-notf img
{
    width:14%;
    border-radius: 50%;
}

.sub-menu-link-notf
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-top:-6%;
    margin-bottom: 1%;
    margin-left:8%;
}

.sub-menu-link-notf p
{
    margin-left: 5%;
    font-weight: 500;
    font-size: 14px;
    color:rgb(79, 74, 74);
}

.sub-menu-link-notf:hover p 
{
    font-weight: 600;
}

#dropdownNotf 
{
    display: none;
}

/* Lorsque le dropdown est actif */
#dropdownNotf.active 
{
    display: flex;
}






/* SIDE BAR  */

.side-bar
{
    position:fixed;
    width: 5.5vw;
    top: 0;
    left:0;
    bottom: 0;
    height: 100vh;
    z-index: 3;
    background-color: rgba(100, 99, 126, 0.50);
    box-shadow: 4px 7px 10px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* LOGO  */

.logo
{
    display: flex;
    justify-content: center;
    margin-bottom: -70%;
}

.logo img
{
    width: 150%;
}

/* UNORDER LIST  */

.list
{
    list-style-type: none;
    padding: 8%;
    margin:0;
}

.nav-element
{
    position:relative;
    padding: 1.5rem 0;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}  

.nav-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 15%;
}

.nav-element img 
{
    width: 65%;
    height: auto;
    padding: 18%;
    transition: opacity 0.3s ease;
}

.nav-label 
{
    position: absolute;
    left: 115%; /* Positionné à droite de l'icône */
    background-color: white;
    color: black;
    padding: 10%;
    border-radius: 8px;
    font-size: 0.9em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Caché par défaut */
    visibility: hidden; /* Caché par défaut */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}

.nav-element:hover img 
{
    background-color:rgba(0, 62, 56, 0.9837);
    box-shadow: 0px 5px 6px rgba(0 , 0, 0, 0.2);
    border-radius: 5px;
    /* padding:5px; */ 
}

.nav-element:active
{
    scale: 0.95;
}

.nav-element:hover .nav-label 
{
    opacity: 1;
    visibility: visible;
}

  