#mobile-message 
{
    font-family: Righteous;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    background: url('../assests/p404.png'),#151729;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    color:#fff;

}

.content-message
{
    text-align: center;
    max-width: 600px;
    margin-bottom: 15%;
}

.content-message h2
{
    font-size: 15vw;
    line-height: 1em;
    margin-bottom: 10%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

.content-message p
{
    font-size: 1.2em;
    font-weight: 100;
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);

    }
    to {
      transform: translateY(0);
    }
  }

.login-form 
{
    animation: slideInFromBottom 1s ease-out;
}

.container-login
{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1600px;
    height: 70%;
    padding: 10%;
    z-index: 3;
    transition: filter 0.3s ease;
}

/* CERCLE */

.circle 
{
    position: absolute;
    width: 30vw;
    height: 20vh;
    background-color: #ffffff;
    border-radius: 50%;
    filter: blur(5vw);
    opacity: 0.8;
}

.top-circle 
{
    top: -8vw;
    left: 50%;
    transform: translateX(-50%);
}
  
.bottom-circle 
{
    bottom: -8vw;
    left: 50%;
    transform: translateX(-50%);
}

/* LEFT RIGHT SECTION */

.left-content , .right-content
{
    width: 20%;
}

.left-content
{
    padding-right: 13.1%;
}

.left-content img 
{
    width: 200%;
    height: auto;
}

.right-content img
{
    width: 150%;
    height: auto;
}

.right-content
{
    padding-right: 13.1%;
    padding-bottom: 1.67%;
}

.login-button
{
    padding: 3.5%;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: white;
    width: 126%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin-top:15%;
    margin-left:1.5%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
} 

.login-button:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.login-button:active
{
    background-color: rgb(33, 30, 30);
    scale: 0.95;
}


.login-button:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.login-button:active
{
    background-color: rgb(33, 30, 30);
    scale: 0.95;
}
/* MIDDLE SECTION */

.middle-content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
}

.table-image img 
{
    width: 110%;
    padding-top: 20.83%;
    padding-left: 1.67%;
}

/* LOGIN-FROM */

.login-form 
{
    position: absolute;
    width: 80%;
    margin-bottom: 3%;
    margin-left: 7%;
    background-color: rgb(255, 255, 255,0.1);
    border-style: solid;
    border-width: 1px;
    border-color:rgba(255, 255, 255, 0.9);
    padding-right: 42%;
    padding-left: 35%;
    padding-top:8%;
    padding-bottom: 10%;
    border-radius: 40px;
    text-align: center;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.login-form h1
{
    padding-bottom: 8.5%;
    color:white;
}

form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
}

.email-h2
{
    color:white;
    font-size:14px;
    font-weight: 400;
    padding-right: 106%;
    margin-bottom: 1%;
}

.password-h2
{
    color:white;
    font-size:14px;
    font-weight: 400;
    padding-right: 108%;
    margin-bottom: 1%;
}

/* INPUT */

.login-form input 
{
    width: 120%;
    padding: 3.4%;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form input:focus
{
    outline: none;
}

input::placeholder
{
    font-size: 10px;
    color:#BCBEC0;
}

/* BUTTON */

.logo-button
{
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-color:#BCBEC0;
    border-width: 2px;
    border-radius: 30px;
    align-items: center;
    margin-bottom: 2%;
    margin-top:3%;
    cursor:pointer;
    transition: box-shawdow 0.15s,
                border-color 0.15s;
}

.logo-button:hover
{
    border-color: black;
    transform: translateY(2px);
}

.logo-button:active
{
    scale: 0.9;
}

.logo-42
{
    width: 35%;
}

/* SEPARATOR */

.separator 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 7%;
}

.separator span 
{
    width: 25%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 0 10%;
}

.separator p 
{
    margin: 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* LINK */

.register-link
{
    color:white;
    font-weight: 400;
    font-size: 12px;
    padding-top: 9.5%;
    white-space: nowrap;
}

.register-link p span
{
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.register-link p span:hover
{
    text-decoration: underline;
}

.register-link p span:active
{
    color:black;
}

.reset-link 
{
    color:white;
    font-weight: 400;
    font-size: 10px;
    white-space: nowrap;
    margin-right:68.5%;
    margin-top:-5%;
}

.reset-link p span
{
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.reset-link p span:hover
{
    text-decoration: underline;
}

.reset-link p span:active
{
    color:black;
}




