@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);

    }
    to {
      transform: translateY(0);
    }
  }
  
  .login-form {
    animation: slideInFromBottom 1s ease-out; /* Durée et courbe d'animation */
  }
  
  
body 
{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, 
        #003E38 1%, 
        #003E38 14%, 
        #014E46 28%, 
        #00766A 41%, 
        #014E46 60%, 
        #035149 62%, 
        #003E38 92%, 
        #003E38 99%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* COLOR OVERLAY  */

.color-overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.container-login
{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1600px;
    height: 70%;
    padding: 10%;
    z-index: 3;
}

/* CERCLE */

.circle 
{
    position: absolute;
    width: 25vw;
    height: 18vh;
    background-color: #ffffff;
    border-radius: 50%;
    filter: blur(5vw);
    opacity: 0.3;
}

.top-circle 
{
    top: -10vw;
    left: 50%;
    transform: translateX(-50%);
}
  
.bottom-circle 
{
    bottom: -10vw;
    left: 50%;
    transform: translateX(-50%);
}

/* LEFT RIGHT SECTION */

.left-content , .right-content
{
    width: 20%;
}

.left-content
{
    padding-right: 13.1%;
}

.left-content img 
{
    width: 200%;
    height: auto;
}

.right-content img
{
    width: 150%;
    height: auto;
}

.right-content
{
    padding-right: 13.1%;
    padding-bottom: 1.67%;
}

.login-button
{
    padding: 3.5%;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: white;
    width: 128%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin-top:15%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
} 

.login-button:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.login-button:active
{
    background-color: rgb(33, 30, 30);
    scale: 0.95;
}


.login-button:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.login-button:active
{
    background-color: rgb(33, 30, 30);
    scale: 0.95;
}
/* MIDDLE SECTION */

.middle-content 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* flex-direction: column; */
    width: 30%;
}

.table-image img 
{
    width: 110%;
    padding-top: 20.83%;
    padding-left: 1.67%;
}

/* LOGIN-FROM */

.login-form 
{
    position: absolute;
    width: 80%;
    margin-bottom: 3%;
    margin-left: 7%;
    background-color: rgb(255, 255, 255,0.1);
    border-style: solid;
    border-width: 1px;
    border-color:rgba(255, 255, 255, 0.9);
    padding-right: 42%;
    padding-left: 35%;
    padding-top:8%;
    padding-bottom: 10%;
    border-radius: 40px;
    text-align: center;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.login-form h1
{
    padding-bottom: 8.5%;
    color:white;
    font-weight: 600;
}

form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
}

.username-h2
{
    color:white;
    font-size:14px;
    font-weight: 200;
    padding-right: 116%;
    margin-left: 2px;
    margin-top:-2px;
    margin-bottom: 1px;
}

.password-h2
{
    color:white;
    font-size:14px;
    font-weight: 200;
    padding-right: 106%;
    margin-left: 2px;
    margin-bottom: 1px;
    margin-top:-2px;
}

/* INPUT */

.login-form input 
{
    width: 120%;
    padding: 3.4%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form input:focus
{
    outline: none;
}

input::placeholder
{
    font-size: 8px;
    color:#BCBEC0;
}

/* BUTTON */

.logo-button
{
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-color:#BCBEC0;
    border-width: 2px;
    border-radius: 30px;
    align-items: center;
    margin-bottom: 2%;
    margin-top:3%;
    cursor:pointer;
    transition: box-shawdow 0.15s,
                border-color 0.15s;
}

.logo-button:hover
{
    border-color: black;
    transform: translateY(2px);
}

.logo-button:active
{
    scale: 0.9;
}

.logo-42
{
    width: 35%;
    /* margin-top: 1%; */
}

/* SEPARATOR */

.separator 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 7%;
}

.separator span 
{
    width: 25%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 0 10%;
}

.separator p 
{
    margin: 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* LINK */

.register-link
{
    color:white;
    font-weight: 200;
    font-size: 12px;
    padding-top: 9.5%;
    white-space: nowrap;
}

.register-link p span
{
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.register-link p span:hover
{
    text-decoration: underline;
}

.register-link p span:active
{
    color:black;
}

.reset-link 
{
    color:white;
    font-weight: 200;
    font-size: 10px;
    white-space: nowrap;
    margin-right:62%;
    margin-top:-5%;
}

.reset-link p span
{
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.reset-link p span:hover
{
    text-decoration: underline;
}

.reset-link p span:active
{
    color:black;
}




