#mobile-message 
{
    font-family: Righteous;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    background: url('../assests/p404.png'),#151729;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    color:#fff;

}

.content-message
{
    text-align: center;
    max-width: 600px;
    margin-bottom: 15%;
}

.content-message h2
{
    font-size: 15vw;
    line-height: 1em;
    margin-bottom: 10%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

.content-message p
{
    font-size: 1.2em;
    font-weight: 100;
}

/* BODY  */
#content {
    position: relative;
    animation: fadeInUp 0.8s ease-in-out;
    z-index: 10;

}
.nav-element.active img 
{
  background-color:rgba(0, 62, 56, 0.9837);
  box-shadow: 0px 5px 6px rgba(0 , 0, 0, 0.2);
  border-radius: 5px;
}

.nav-element:active
{
    scale: 0.95;
}

.nav-element:hover .nav-label 
{
    opacity: 1;
    visibility: visible;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.circle 
{
    position: absolute;
    width: 30vw;
    height: 20vh;
    background-color: #ffffff;
    border-radius: 50%;
    filter: blur(5vw);
    opacity: 0.8;
}

.top-circle 
{
    top: -10vw;
    left: 50%;
    transform: translateX(-50%);
}
  
.bottom-circle 
{
    bottom: -10vw;
    left: 50%;
    transform: translateX(-50%);
}

/* CONTAINER SETTINGS */





.switch
{
    position:relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider
{
    position:absolute;
    cursor: pointer;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: #ccc;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider::before
{
    position:absolute;
    content: "";
    background-color: white;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    transition: .4s;

}
input:checked + .slider
{
    background-color: #4CAF50;
}

input:checked +.slider:before
{
    -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.settings-container.scrollable 
{
    overflow-y: auto;
    /* height: 100%; */
}

.settings-container:not(.scrollable) 
{
    height: 90%;
}

.extra-content 
{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.extra-content.visible 
{
    max-height: 400px;
    opacity: 1;
    padding: 20px;
}

.section-name
{
    display: flex;
    align-items: center;
    position:absolute;
    font-family: Righteous;
    left:8rem;
    color:white;
    font-size:1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* PROFILE SECTION  */
.profile-section
{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:1%;
    margin-left: 7%;
}


.profile-section p
{
    color:#ffffff;
    width: 90%;
    font-weight: 200;
    font-size: 14px;
    padding-top:3%;
}

.separator-profile
{
    width: 0.5px;
    height: 65px;
    background-color: #EEDEDE;
    margin-right:2%;
    margin-left:2%;
    opacity: 50%;
}

.button-save
{
    background-color: #13aa52;
    border:none;
    padding: 1%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: #fff;
    cursor:pointer;
    font-size: 10px;
    font-weight: 600;
    margin-left:18%;
    margin-top:1%;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-delete
{
    background-color:red;
    border:none;
    padding:1%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: #fff;
    cursor:pointer;
    font-size: 10px;
    font-weight: 600;
    margin-left:1%;
    margin-top:1%;
    outline:none;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-delete:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}
.button-delete:active
{
    background-color: rgb(127, 30, 30);
    transform: scale(0.96);
}


.button-save:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.button-save:active
{
    background-color: #092f19;
    transform: scale(0.96);
}

.user-img
{
    position:relative;
}

.user-img img 
{

    width: 6vw;
    border-radius: 50%;
    margin-left: -0.5%;
}

.upload-overlay
{
    position:absolute;
    bottom: 5%;
    right:1%;
    /* left:-40%; */
    background-color: #4A49E5;
    color: white;
    width: 28%;
    height: 28%;
    padding-top:-0.5%;
    padding-right:1%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.upload-overlay:hover 
{
    background-color: #3a39c0;
}

#fileInput 
{
    display: none;
    cursor: pointer;
}

/* SEPARATOR  */
.separator
{
    /* width: 100%; */
    border-bottom: 1px solid #EEDEDE;
    width: 100%;
    /* margin: 20px 0; */
    /* padding-right:7.5%; */
    padding-left: 7.5%;
    /* padding-left:5.5%; */
    /* padding-right: 2%; */
}


/* USER INFO SECTION   */

.user-infos-section 
{
    margin-top: -3%;
    margin-left:-20%;
}

.input-group 
{
    display: flex;
    margin-left:22%;
    margin-bottom: 2%;
    /* gap: 20px; */
}

.input-group div 
{
   margin-right:20%;
}

.input-group h3 
{
    color:white;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3%;
}

.input-group input
{
   width: 200%;
   border-style: none;
   border-radius: 5px;
   padding-right:2%;
   padding-left:2%;
   padding-top:3%;
   padding-bottom: 5%;
   border: 1px solid #ccc;
}

.input-group input::placeholder
{
    font-size: 10px;
    color:#BCBEC0;
    padding-left:0.7%;
    /* padding-bottom: -10%; */
}

.input-group input:focus
{
    outline:none;
}

.input-group-email h3
{
    color:white;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1%;
}

.input-group-email
{
    display: flex;
    align-items: center;
    margin-left: 22%;
    margin-top: -1.5%;
}

.input-group-email input
{
    width: 705.1%;
    border-style: none;
    border-radius: 5px;
    padding-right:2%;
    padding-left:2%;
    padding-top:3%;
    padding-bottom: 5%;
    border: 1px solid #ccc;
}

.input-group-email input::placeholder
{
    font-size: 10px;
    color:#BCBEC0;
    padding-left:0.5%;
}

.input-group-email input:focus
{
    outline:none;
}


/* PASSWORD SECTION  */

.password-section
{
    display: flex;
    /* flex-direction:row; */
    margin-top: -3%;
    margin-left:-20%;
}

.password-infos
{
    display: flex;
    flex-direction: column;
    margin-left:22%;
}

.password-infos h3
{
    color:white;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1%;
}

.password-infos input
{
    width: 200%;
    border-style:none;
    border-radius: 5px;
    padding-right: 2%;
    padding-left: 2%;
    padding-top:3%;
    padding-bottom: 5%;
    border:1px solid #ccc;
}

.password-infos input::placeholder
{
    font-size:10px;
    color:#BCBEC0;
    padding-left:0.7%;
}

.password-infos input:focus
{
    outline:none;
}

.password-requierements
{
    margin-left: 25%;
    margin-top: 1%;
}

.password-requierements h1
{
    color:#EEDEDE;
    font-size:12px;
}

.password-requierements p
{
    color:#EEDEDE;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: -1%;
    width: 90%;
}

.password-requierements ul
{
    color:#EEDEDE;
    font-size: 12px;
    font-weight: 200;
    margin-right:2%;
}


/* TWO FACTOR SECTION  */


.two-factor-section
{
    text-align: center;
    margin-top: -2%;
}

.two-factor-section h3
{
    color:#EEDEDE;
    font-size: 12px;
    margin-top: 1%;
}

.two-factor-section p
{
    color:#EEDEDE;
    font-weight: 200;
    font-size: 12px;
    margin-top:-0.5%;
    /* width: 20%; */
}






.scroll-enabled 
{
    overflow-y: scroll;
}

/* QR SECTION  */

.qr-section 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.qr-section h1
{
    color:#EEDEDE;
    font-size: 12px;
    margin-bottom: 2%;
}

.code-qr
{
    display: flex;
    align-items: center;
    width: 170px;
    height:150px ;
    background-color: rgb(255, 255, 255);
}

.code-qr img 
{
    width:105%;
    height: 105%;
}

.qr-section p
{
    font-size: 12px;
    margin-top: 2%;
    color:#EEDEDE;
    font-weight: 500;
}

.qr-section input
{
    width: 26%;
    border-style:none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
    border:1px solid #ccc;
    margin-bottom: 2%;
}

.qr-section input::placeholder
{
    font-size:7px;
    color:#BCBEC0;
    padding-left:0.7%;
}

.qr-section input:focus
{
    outline:none;
}

.qr-section button
{

    background-color:  rgba(7, 115, 151, 0.844);
    border:none;
    border-radius: 15px;
    padding:1%;
    font-size: 12px;
    margin-bottom: 2%;
    cursor: pointer;
    color:white; 
    transition:all 0.2s ease;
}

.qr-section button:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2px);
}

.qr-section button:active
{
    background-color: rgba(30, 111, 122, 0.907);
    transform: scale(0.96);
}






/* HEADER  */

header
{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding: 1.5%;
    z-index: 15;
}

.header-left
{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5%;
}

.header-left img
{
    width: 1.3vw;
    padding-right: 2.5%;
}

/* PROFILE PIC  */

.prfl
{
    width:50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header-right
{
    position:relative;
    padding-left: 1.5%;
}



/* SEARCH BOX */

.search-box
{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0.5%;
    margin-bottom: 0.45%;
    cursor: pointer;
}

.button-search 
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 6vh;
    height: 6vh;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}

.input-search 
{
    height: 5vh;
    width: 5vh;
    border-style: none;
    padding: 1.5vh;
    font-size: 14px;
    letter-spacing: 0.2rem;
    outline: none;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    color: #fff;
    padding-right: 6vh;
    box-sizing: border-box; 
}

.button-search:focus ~ .input-search 
{
    width: 25vw;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0.15vh solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.button-search img 
{
    width: 60%;
}

.input-search:focus 
{
    width: 28vw; /* Étend la largeur au focus */
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0.15vh solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search::placeholder 
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

#settingsImage
{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* Dropdown container */
.dropdown-search 
{
    position: absolute;
    top: calc(100% + 5px);
    border-style: solid;
    border-width: 0.3px;
    border-color: rgba(255, 255, 255, 0.582);
    left: 0;
    width: 100%; 
    max-height: 200px;
    overflow-y: auto;
    background-color: transparent;
    backdrop-filter: blur(8px);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    scrollbar-width: none;
    display: none;
}
.dropdown-search::-webkit-scrollbar 
{
    display: none;
}

.dropdown-results 
{
    list-style: none;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}


.dropdown-item 
{
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid gray;

    transition: background-color 0.3s ease;
    gap: 10px;
}

.dropdown-item:hover 
{
    background-color: #ffffffa9;

}

/* Image dans l'élément */
.dropdown-item-img 
{
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Rendre les images rondes */
    object-fit: cover; /* Gérer le contenu de l'image */
}

/* Texte dans l'élément */
.dropdown-item-text 
{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* DROWPDOWN PROFILE */
.dropdown-profile
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:105%;
    right:0;
    background-color: rgba(187, 230, 224, 1);

    width:215%;
    border-radius: 25px;
    color:rgba(70, 70, 103, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-info h2
{
    font-weight: 600;
    white-space: nowrap;
    font-size: 15px;
}

.user-info img
{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8%;
    margin-left:-4%;
}


.sub-menu-link img
{
    width: 14%;
    margin-left:5%;
}

.sub-menu-link
{
    display: flex;
    align-items: center;
    color:black;
    cursor: pointer;
    padding-left: 10%;
}

.sub-menu-link:hover
{
    background-color: rgb(165, 206, 216);

}

.sub-menu-link p
{
    margin-left: 10%;
    font-weight: 500;
    font-size: 16px;
    color:rgb(79, 74, 74);
}

.sub-menu-link:hover p 
{
    font-weight: 600;
}

#dropdown 
{
    display: none;
}

/* Lorsque le dropdown est actif */
#dropdown.active 
{
    display: flex;
}

.sub-menu-link:last-child 
{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sub-menu-link:last-child:hover 
{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    background-color: rgb(206, 214, 216);

}

/* SEPARATOR */

.separator 
{
    display: flex;
    align-items: center;
    width: 97%;
    margin-top:2%;
    margin-bottom: 4%;
    /* margin: 7%; */
}

.separator span 
{
    width: 100%;
    height: 1px;
    /* background:rgb(0, 0, 0); */
    margin: 0 10%;
}

/* NOTIFICATIONS DROPDOWN */

.dropdown-notifications
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:75%;
    right:-16%;
    background-color: rgba(187, 230, 224, 1);
    width:12%;
    /* height: 156.5%; */
    max-height: 120%;
    margin-right: 20%;
    padding-top: 0.5%;
    /* padding-bottom: 1%; */
    /* padding-right: 1%; */
    border-radius: 10px;
    color:rgba(70, 70, 103, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.dropdown-arrow 
{
    display: none;
    position: absolute;
    top: 50%;
    left: 93.8%;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: transparent transparent rgba(187, 230, 224, 1) transparent;
    transform: translateX(-50%);
}
.dropdown-arrow.active 
{
    display: block; /* Visible quand active */
}

.sub-menu-link-notf img
{
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 12px;
    margin-right:2px;
}

.sub-menu-link-notf
{
    display: flex;
    align-items: center;
    color:black;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-menu-link-notf:last-child 
{
    border-bottom: none;
}

.sub-menu-link-notf p
{
    font-size: 10px;
    color:rgb(79, 74, 74);
}

.sub-menu-link-notf:hover
{
    background-color: rgb(165, 206, 216);
}

#dropdownNotf 
{
    display: none;
}

#dropdownNotf.active 
{
    display: flex;
}






/* SIDE BAR  */

.side-bar
{
    position:fixed;
    width: 3.8vw;
    top: 0;
    left:0;
    bottom: 0;
    height: 100vh;
    z-index: 3;
    background-color: rgba(100, 99, 126, 0.50);
    box-shadow: 4px 7px 10px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* THE OLD LOGO */
.logo
{
    display: flex;
    justify-content: center;
    margin-top:13%;
    width: 130%;
    margin-left:-15%;
}

.logo img
{
    width: 180%;
    max-width: 100%;
    height: auto;
}

/* .logo
{
    display: flex;
    justify-content: center;
    margin-top:13%;
    width: 130%;
    margin-left:-15%;
}

.logo img
{
    width: 180%;
} */

/* UNORDER LIST  */

.list
{
    list-style-type: none;
    padding: 8%;
    margin:0;
}

.nav-element
{
    position:relative;
    padding: 1.5rem 0;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}  

.nav-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 15%;
}

.nav-element img 
{
    width: 65%;
    height: auto;
    padding: 18%;
    transition: opacity 0.3s ease;
}

.nav-label 
{
    position: absolute;
    left: 115%; /* Positionné à droite de l'icône */
    background-color: white;
    color: black;
    padding: 10%;
    border-radius: 8px;
    font-size: 0.9em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Caché par défaut */
    visibility: hidden; /* Caché par défaut */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}

.nav-element:hover img 
{
    background-color:rgba(0, 62, 56, 0.9837);
    box-shadow: 0px 5px 6px rgba(0 , 0, 0, 0.2);
    border-radius: 5px;
    /* padding:5px; */ 
}

.switch-settings
{
    position:relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    /* margin-bottom:15%;  */
}

.switch-settings input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-settings
{
    position:absolute;
    cursor: pointer;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: #ccc;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider-settings::before
{
    position:absolute;
    content: "";
    background-color: white;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    transition: .4s;

}
input:checked + .slider-settings
{
    background-color: #4CAF50;
}

input:checked +.slider-settings:before
{
    -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.section-1
{
    margin-left:2%;
    margin-right:5%;
}

.section2 
{
    margin-right:5%;
}


.separator-profile-password
{
    width: 0.5px;
    height: 100px;
    background-color: #EEDEDE;
    opacity: 50%;
    margin-bottom: -2%;
    margin-right: 5%;
}

.two-factor-section
{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: -3%;
}

.two-factor-section h3
{
    color:#EEDEDE;
    font-size: 10px;
    margin-top: 1%;
}

.two-factor-section p
{
    color:#EEDEDE;
    font-weight: 200;
    font-size: 12px;
}

.scroll-enabled 
{
    overflow-y: scroll;
}




.settings-container
{
    width: 140%;
    position:relative;
    background-color: rgba(217, 217, 217, 0.3);
    height: 84%;
    max-height: 84vh;
    margin-top:5%;
    margin-left:-16.5%;
    padding-bottom: 3%;
    margin-bottom: -4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.5s ease;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.guide-notifications
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: -5%;
    width: 140%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left:-16.5%;
    border-bottom: 2px solid #ffffff;
}



.nav-button 
{
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding-top:1%;
    transition: all 0.3s ease;
    padding-bottom: 1.2%;
}

.nav-button.active 
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(6, 61, 80, 0.844);
}

.nav-button:hover
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(7, 115, 151, 0.844);
}

.nav-button:active
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(6, 61, 80, 0.844);
}

.settings-section 
{
    display: block;
}
  
.settings-section.hidden 
{
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.content-friends, .content-blocklist 
{
    padding-top:2%;
    padding-left:2%;
    width: 100%;
    height: 682px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.friends-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 2%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

.blocked-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 2%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

.blocked-card , .friend-card-settings
{
    background: url(../assests/usercard-backg.jpg);
    border: 3px solid #ddddddab;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    height: 200px;
}

.blocked-card:hover 
{
    transform: scale(1.05);
}

.blocked-avatar img 
{
    border: 3px solid #ddddddab;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.blocked-name
{
    margin-top: 10px;
    font-size: 12px;
    /* white-space: nowrap; */
    font-weight: 600;
    color: #ffffff;
}

.blocked-actions 
{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.blocked-action 
{
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.blocked-action.unb-btn 
{
    background-color: #19af46e8;
    color: white;
}

.blocked-action.unb-btn:hover 
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.blocked-action.unb-btn:active
{
    background-color: #074e1de8;
    transform: scale(0.96);
} 


.friend-card-settings:hover 
{
    transform: scale(1.05);
}

/* Avatar */
.friend-avatar-settings img 
{
    border: 3px solid #ddddddab;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.friend-name-settings
{
    margin-top: 10px;
    font-size: 12px;
    /* white-space: nowrap; */
    font-weight: 600;
    color: #ffffff;
}


.friend-actions-settings
{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.friend-action-settings
{
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.friend-action-settings.remove-btn 
{
    background-color: #007bff;
    color: white;
}

.friend-action-settings.remove-btn:hover 
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.friend-action-settings.remove-btn:active
{
    background-color: #0056b3;
    transform: scale(0.96);
} 

.friend-action-settings.block-btn-friendLst
{
    background-color: #ff4d4d;
    color: white;
}

.friend-action-settings.block-btn-friendLst:hover 
{

    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.friend-action-settings.block-btn-friendLst:active
{
    background-color: #e60000;
    transform: scale(0.96);
}

.friends-grid-settings.empty::before 
{
    content: "No friends yet! Add some friends to see them here.";
    color: #fff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}




  
/* Overlay for background blur */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none; /* Hidden by default */
  }
  
  /* Friend Card */
.friend-card 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../assests/usercard-backg.jpg);
    border: 3px solid #ddddddab;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    text-align: center;
}
  
  /* Friend Avatar */
.friend-avatar img 
{
    border: 3px solid #ddddddab;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-top:60px;
}
  
  /* Friend Name */
.friend-name 
{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}
  
  
.add-btn 
{
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1rem;
    margin-right:5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add-btn:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.add-btn:active
{
    background-color: #044406;
    transform: scale(0.96);
}

.block-btn:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.block-btn:active
{
    background-color: #580707;
    transform: scale(0.96);

}

.unblock-btn:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.unblock-btn:active
{
    background-color: #580707;
    transform: scale(0.96);

}

.unblock-btn
{
    background-color: #ff9901;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.block-btn
{
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.close-btn 
{
    position: absolute;
    top: 10px; /* Distance depuis le haut */
    right: 10px; /* Distance depuis la droite */
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
}

.centered-message {
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.centered-message-notif {
    color: #000000;
    font-size: 12px;
    text-align: center;
}