/* BODY  */
#content {
    position: relative;
    animation: fadeInUp 0.8s ease-in-out;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body 
{
    font-family: Poppins;
    margin: 0;
    padding:0;
    height: 100vh;
    width: 100vw;
    /* box-sizing: border-box; */
    background: linear-gradient(120deg, 
        #003E38 1%, 
        #003E38 14%, 
        #014E46 28%, 
        #00766A 41%, 
        #014E46 60%, 
        #035149 62%, 
        #003E38 92%, 
        #003E38 99%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

/* COLOR OVERLAY  */

.color-overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


/* SETTINGS */



/* CONTAINER SETTINGS */
.settings-container
{
    width: 190%;
    position:relative;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    height: 84%;
    margin-left:-38%;
    margin-top:12%;
    padding-bottom: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    max-height: 84vh;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

.settings-container.scrollable 
{
    overflow-y: auto;
    height: 100%;
}

.settings-container:not(.scrollable) 
{
    height: 85%; /* Remet la hauteur initiale quand la classe est retirée */
}

.extra-content 
{
    display: none;
    transition: opacity 0.3s ease;
}  

.extra-content.visible
{
    display: block;
    opacity: 1;
}

.section-name
{
    display: flex;
    align-items: center;
    position:absolute;
    font-family: Righteous;
    left:8rem;
    color:white;
    font-size:1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* PROFILE SECTION  */
.profile-section
{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:1%;
    margin-left: 7%;
}


.profile-section p
{
    color:#EEDEDE;
    font-weight: 100;
    width: 90%;
    font-size: 12px;
    padding-top:3%;
}

.separator-profile
{
    width: 0.5px;
    height: 65px;
    background-color: #EEDEDE;
    margin-right:2%;
    margin-left:2%;
    /* margin-right: 15%; */
    /* margin-left:-12%; */
    opacity: 50%;
}

.button-save
{
    background-color: #13aa52;
    border:none;
    padding: 1%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: #fff;
    cursor:pointer;
    font-size: 10px;
    font-weight: 900;
    margin-left:18%;
    margin-top:1%;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-delete
{
    background-color:red;
    border:none;
    padding:1%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: #fff;
    cursor:pointer;
    font-size: 10px;
    font-weight: 900;
    margin-left:1%;
    margin-top:1%;
    outline:none;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-delete:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}
.button-delete:active
{
    background-color: rgb(127, 30, 30);
    transform: scale(0.96);
}


.button-save:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.button-save:active
{
    background-color: #092f19;
    transform: scale(0.96);
}

.user-img
{
    position:relative;
}

.user-img img 
{

    width: 6vw;
    border-radius: 50%;
    margin-left: -0.5%;
    /* margin-right: 15%; */
    /* margin-left:6%; */
}

.upload-overlay
{
    position:absolute;
    bottom: 5%;
    right:1%;
    /* left:-40%; */
    background-color: #4A49E5;
    color: white;
    width: 28%;
    height: 28%;
    padding-top:-0.5%;
    padding-right:1%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.upload-overlay:hover 
{
    background-color: #3a39c0;
}

#fileInput 
{
    display: none;
}

/* SEPARATOR  */
.separator
{
    /* width: 100%; */
    border-bottom: 1px solid #EEDEDE;
    width: 100%;
    /* margin: 20px 0; */
    /* padding-right:7.5%; */
    padding-left: 7.5%;
    /* padding-left:5.5%; */
    /* padding-right: 2%; */
}


/* USER INFO SECTION   */

.user-infos-section 
{
    margin-top: -3%;
    /* width: 100%; */
}

.input-group 
{
    display: flex;
    margin-left:22%;
    margin-bottom: 2%;
    /* gap: 20px; */
}

.input-group div 
{
   margin-right:20%;
}

.input-group h3 
{
    color:white;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3%;
}

.input-group input
{
   width: 200%;
   border-style: none;
   border-radius: 5px;
   padding-right:2%;
   padding-left:2%;
   padding-top:3%;
   padding-bottom: 5%;
   border: 1px solid #ccc;
}

.input-group input::placeholder
{
    font-size: 7px;
    color:#BCBEC0;
    padding-left:0.7%;
    /* padding-bottom: -10%; */
}

.input-group input:focus
{
    outline:none;
}

.input-group-email h3
{
    color:white;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1%;
}

.input-group-email
{
    display: flex;
    align-items: center;
    margin-left: 22%;
    margin-top: -1.5%;
}

.input-group-email input
{
    width: 429%;
    border-style: none;
    border-radius: 5px;
    padding-right:2%;
    padding-left:2%;
    padding-top:3%;
    padding-bottom: 5%;
    border: 1px solid #ccc;
}

.input-group-email input::placeholder
{
    font-size: 7px;
    color:#BCBEC0;
    padding-left:0.5%;
}

.input-group-email input:focus
{
    outline:none;
}


/* PASSWORD SECTION  */

.password-section
{
    display: flex;
    /* flex-direction:row; */
    margin-top: -3%;
}

.password-infos
{
    display: flex;
    flex-direction: column;
    margin-left:22%;
}

.password-infos h3
{
    color:white;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1%;
}

.password-infos input
{
    width: 200%;
    border-style:none;
    border-radius: 5px;
    padding-right: 2%;
    padding-left: 2%;
    padding-top:3%;
    padding-bottom: 5%;
    border:1px solid #ccc;
}

.password-infos input::placeholder
{
    font-size:7px;
    color:#BCBEC0;
    padding-left:0.7%;
}

.password-infos input:focus
{
    outline:none;
}

.password-requierements
{
    margin-left: 25%;
    margin-top: 2.8%;
}

.password-requierements h1
{
    color:#EEDEDE;
    font-size:12px;
}

.password-requierements p
{
    color:#EEDEDE;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: -1%;
    width: 90%;
}

.password-requierements ul
{
    color:#EEDEDE;
    font-size: 12px;
    font-weight: 100;
    margin-right:2%;
}


/* TWO FACTOR SECTION  */


.two-factor-section
{
    text-align: center;
    margin-top: -2%;
}

.two-factor-section h3
{
    color:#EEDEDE;
    font-size: 12px;
    margin-top: 1%;
}

.two-factor-section p
{
    color:#EEDEDE;
    font-weight: 100;
    font-size: 12px;
    margin-top:-0.5%;
    /* width: 20%; */
}

.switch
{
    position:relative;
    display: inline-block;
    width: 5.2%;
    height:5%;
    padding-bottom: 0.5%;
    /* padding:0.5%; */
    margin-top: 0.5%;
    margin-bottom: 2%;
}

.switch input
{
    opacity: 0;
    /* height: 0;
    width: 0; */
}

.slider
{
    position:absolute;
    cursor: pointer;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;

}

.slider::before
{
    position:absolute;
    content: "";
    background-color: white;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    left:6%;
    bottom: 12%;
    transition: .4s;

}
input:checked + .slider
{
    background-color: #4CAF50;
}

input:checked +.slider:before
{
    transform: translateX(30px);
}


.scroll-enabled 
{
    overflow-y: scroll;
}

/* QR SECTION  */

.qr-section 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.qr-section h1
{
    color:#EEDEDE;
    font-size: 12px;
    margin-bottom: 2%;
}

.code-qr
{
    display: flex;
    align-items: center;
    width: 170px;
    height:150px ;
    background-color: rgb(255, 255, 255);
}

.code-qr img 
{
    width:105%;
    height: 105%;
}

.qr-section p
{
    font-size: 12px;
    margin-top: 2%;
    color:#EEDEDE;
    font-weight: 500;
}

.qr-section input
{
    width: 26%;
    border-style:none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
    border:1px solid #ccc;
    margin-bottom: 2%;
}

.qr-section input::placeholder
{
    font-size:7px;
    color:#BCBEC0;
    padding-left:0.7%;
}

.qr-section input:focus
{
    outline:none;
}

.qr-section button
{

    background-color:  rgb(0, 98, 255);
    border-color: rgb(0, 98, 255);
    border-style: solid;
    border-width: 1px;
    padding:1%;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 2%;
    cursor: pointer;
    color:white; 
    transition:all 0.2s ease;
}

.qr-section button:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2px);
}

.qr-section button:active
{
    transform: scale(0.96);
}






/* HEADER  */

header
{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding: 1.875%;
    z-index: 15;
}

.header-left
{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5%;
}

.header-left img
{
    width: 1.5vw;
    padding-right: 2.5%;
}

/* PROFILE PIC  */

.prfl
{
    width:3vw;
    border-radius: 50%;
    cursor: pointer;
}

.header-right
{
    position:relative;
    padding-left: 1.5%;
}

.status
{
    position:absolute;
    background-color: rgba(97, 241, 9, 1);
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 50%;
    right:0;
    /* top:-5px; */
    left:80%;
    bottom: 78%;
}

/* SEARCH BOX */

.search-box
{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0.5%;
    margin-bottom: 0.45%;
}

.button-search 
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 6vh;
    height: 6vh;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}

.input-search 
{
    height: 5vh;
    width: 5vh;
    border-style: none;
    padding: 1.5vh;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    outline: none;
    /* border-radius: 50%; */
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    color: #fff;
    padding-right: 6vh; /* Alignement du bouton */
    box-sizing: border-box; /* S'assure que le padding est inclus dans la largeur */
}

.button-search:focus ~ .input-search 
{
    width: 25vw; /* Largeur étendue en mode focus */
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0.15vh solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.button-search img 
{
    width: 70%;
}

.input-search:focus 
{
    width: 28vw; /* Étend la largeur au focus */
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0.15vh solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search::placeholder 
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 100;
}

/* DROWPDOWN PROFILE */

.dropdown-profile
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:105%;
    right:0;
    background-color: rgba(187, 230, 224, 1);
    width:350%;
    height: 380%;
    margin-right: 20%;
    padding: 8%;
    border-radius: 25px;
    color:rgba(70, 70, 103, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info
{
    display: flex;
    align-items: center;
}

.user-info h2
{
    font-weight: 500;
    white-space: nowrap;
    font-size: 15px;
}

.user-info img
{
    width: 15%;
    border-radius: 50%;
    margin-right: 8%;
    margin-left: 5%;
}

/* LINK DORPDOWN PROFILE  */

.sub-menu-link img
{
    width: 10%;
}

.sub-menu-link
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-top:-6%;
    margin-bottom: 1%;
    margin-left:8%;
    cursor: pointer;
}

.sub-menu-link p
{
    margin-left: 10%;
    font-weight: 500;
    font-size: 16px;
    color:rgb(79, 74, 74);
}

.sub-menu-link:hover p 
{
    font-weight: 600;
}

#dropdown 
{
    display: none;
}

/* Lorsque le dropdown est actif */
#dropdown.active 
{
    display: flex;
}

/* SEPARATOR */

.separator 
{
    display: flex;
    align-items: center;
    width: 97%;
    margin-top:2%;
    margin-bottom: 4%;
    /* margin: 7%; */
}

.separator span 
{
    width: 100%;
    height: 1px;
    /* background:rgb(0, 0, 0); */
    margin: 0 10%;
}

/* NOTIFICATIONS DROPDOWN */

.dropdown-notifications
{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:76%;
    right:-14%;
    background-color: rgba(187, 230, 224, 1);
    width:18%;
    height: 150%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    border-radius: 25px;
    color:rgba(70, 70, 103, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* LINK DROPDOWN NOTF */

.sub-menu-link-notf img
{
    width:14%;
    border-radius: 50%;
}

.sub-menu-link-notf
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    margin-top:-6%;
    margin-bottom: 1%;
    margin-left:8%;
}

.sub-menu-link-notf p
{
    margin-left: 5%;
    font-weight: 500;
    font-size: 14px;
    color:rgb(79, 74, 74);
}

.sub-menu-link-notf:hover p 
{
    font-weight: 600;
}

#dropdownNotf 
{
    display: none;
}

/* Lorsque le dropdown est actif */
#dropdownNotf.active 
{
    display: flex;
}






/* SIDE BAR  */

.side-bar
{
    position:fixed;
    width: 5.5vw;
    top: 0;
    left:0;
    bottom: 0;
    height: 100vh;
    z-index: 3;
    background-color: rgba(100, 99, 126, 0.50);
    box-shadow: 4px 7px 10px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* LOGO  */

.logo
{
    display: flex;
    justify-content: center;
    margin-bottom: -70%;
}

.logo img
{
    width: 150%;
}

/* UNORDER LIST  */

.list
{
    list-style-type: none;
    padding: 8%;
    margin:0;
}

.nav-element
{
    position:relative;
    padding: 1.5rem 0;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}  

.nav-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 15%;
}

.nav-element img 
{
    width: 65%;
    height: auto;
    padding: 18%;
    transition: opacity 0.3s ease;
}

.nav-label 
{
    position: absolute;
    left: 115%; /* Positionné à droite de l'icône */
    background-color: white;
    color: black;
    padding: 10%;
    border-radius: 8px;
    font-size: 0.9em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Caché par défaut */
    visibility: hidden; /* Caché par défaut */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}

.nav-element:hover img 
{
    background-color:rgba(0, 62, 56, 0.9837);
    box-shadow: 0px 5px 6px rgba(0 , 0, 0, 0.2);
    border-radius: 5px;
    /* padding:5px; */ 
}

.nav-element:active
{
    scale: 0.95;
}

.nav-element:hover .nav-label 
{
    opacity: 1;
    visibility: visible;
}

  