#mobile-message 
{
    font-family: Righteous;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    background: url('../assests/p404.png'),#151729;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    color:#fff;
}

.content-message
{
    text-align: center;
    max-width: 600px;
    margin-bottom: 15%;
}

.content-message h2
{
    font-size: 15vw;
    line-height: 1em;
    margin-bottom: 10%;
    animation: bounce 2s infinite;
}

@keyframes bounce 
{
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

.content-message p
{
    font-size: 1.2em;
    font-weight: 100;
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);

    }
    to {
      transform: translateY(0);
    }
  }
  
.sign-form 
{
    animation: slideInFromBottom 1s ease-out; 
}

.circle 
{
    position: absolute;
    width: 30vw;
    height: 20vh;
    background-color: #ffffff;
    border-radius: 50%;
    filter: blur(5vw);
    opacity: 0.8;
}

.top-circle 
{
    top: -10vw;
    left: 50%;
    transform: translateX(-50%);
}
  
.bottom-circle 
{
    bottom: -10vw;
    left: 50%;
    transform: translateX(-50%);
}

.left-content , .right-content
{
    width: 20%;
}

.left-content img
{
    width: 200%;
    height: auto;
}

.left-content
{
    padding-right: 15%;
}

.right-content
{
    padding-right: 13.1%;
    margin-left: 1.9%;
    padding-bottom: 1.67%;
}

.right-content img
{
    width: 150%;
    height: auto;
}

.container-sign-up
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1600px;
    height: 50%;
    padding: 10%;
    z-index: 3;
}

.sign-up-button
{
    padding: 3.5%;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: white;
    width: 126%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin-top:15%;
    margin-left:1.5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
} 

.sign-up-button:hover
{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.sign-up-button:active
{
    background-color: rgb(33, 30, 30);
    scale: 0.95;
}


.middle-section
{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.table-pong img
{
    width: 110%;
    padding-top: 20.83%;
    padding-left: 1.67%;
}

.sign-form h1
{
    padding-bottom: 5%;
    color:white;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
}

.name-h2
{
    color:white;
    font-size: 14px;
    font-weight: 400;
    padding-right: 115%;
    margin-bottom: 1%;
}

.email-h2-2
{
    color:white;
    font-size: 14px;
    font-weight: 400;
    padding-right: 117%;
    margin-bottom: 1%;
}

.username-h2
{
    color:white;
    font-size: 14px;
    font-weight: 400;
    padding-right: 106%;
    margin-bottom: 1%;
    white-space: nowrap;
}

.password-h2-2
{
    color:white;
    font-size: 14px;
    font-weight: 400;
    padding-right: 107%;
    margin-bottom: 1%;
    white-space: nowrap;
}
.password-h2-3
{
    color:white;
    font-size: 14px;
    font-weight: 400;
    padding-right: 89%;
    margin-bottom: 1%;
    white-space: nowrap;
}

/* SIGN UP FORM  */

.sign-form
{
    position: absolute;
    width: 80%;
    margin-bottom: 3%;
    margin-left: 7%;
    background-color: rgb(255, 255, 255,0.1);
    border-style: solid;
    border-width: 1px;
    border-color:rgba(255, 255, 255, 0.9);
    padding-right: 42%;
    padding-left: 35%;
    padding-top:3%;
    padding-bottom: 4%;
    border-radius: 40px;
    text-align: center;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.sign-form input
{
    width: 120%;
    padding:3.4%;
    margin-bottom: 1%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.sign-form input:focus
{
    outline: none;
}

input::placeholder
{
    font-size: 10px;
    color:#BCBEC0;
}


.login-link
{
    color:white;
    font-weight: 400;
    font-size: 12px;
    padding-top:8%;
}

.login-link p span
{
    font-weight: 600;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.login-link p span:hover
{
    text-decoration: underline;
}

.login-link p span:active
{
    color:black;
}
